.swag {
  height: 50px;
  width: 50px;
}

#navbar {
  background-color: #415AE0;
  height: 75px;
  width: 100%;
}

#navbar p {
  font-size: 2.0em;
  display: inline;
}

.vbox {
  background-color: black;
  height: 200px;
  width: 350px;
  margin: auto
  margin-top: 30px;
}

.main-title {
  margin: 12px;
}

body {
  min-width: 1000px;
  background-color: #FAFCFF;
}
